<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="output.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="bg-black w-screen h-20 flex items-center container">
      <div class="text-white font-bold text-2xl w-2/12">
        <h1>Inventory App</h1>
      </div>
      <div class="nav-lists">
        <ul class="text-white flex">
          <li class="pr-5">Home</li>
          <li class="pr-5">Products</li>
          <li class="pr-5">Register</li>
          <li class="pr-5">About Us</li>
          <li class="pr-5">Contact Us</li>
        </ul>
      </div>
    </nav>
    <div class="container mt-5 border-2 flex justify-center items-center">
      <%- body %>
    </div>
  </body>
</html>
