<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="./style.css" />
    <title>Ecommerce App</title>
  </head>
  <body>
    <div class="container">
      <!-- Nav Section -->
      <section id="nav" class="nav flex">
        <div class="nav-bar flex">
          <div class="app-name">
            <h1 class="text-white">Inventory App</h1>
          </div>
          <div class="nav-items">
            <ul>
              <li>Products</li>
              <li>About Us</li>
              <li>Contact Us</li>
              <li>Help</li>
            </ul>
          </div>
        </div>
      </section>
      <%- body %>
    </div>
  </body>
</html>
