<div class="new-product-container flex">
  <div class="product-container">
    <h1>Add Product</h1>
    <div class="form-field">
      <form action="/" method="post">
        <div class="new-name">
          <label for="name" id="name" class="product-name">Product Name</label>
          <input type="text" name="name" placeholder="Enter Product Name ..."  required />
        </div>
        <div class="new-name">
          <label for="product-description" id="product-description" class="product-description">Product Description</label>
          <textarea rows="2" cols="81" name="productDescription" placeholder="Enter Product Description ..."  required ></textarea>
        </div>
        <div class="new-name">
            <label for="product-price" id="product-price" class="product-price">Product-Price</label>
            <input type="number" name="productPrice" placeholder="Enter Product-Price in Rs."  required />
          </div>
          <div class="new-name">
            <label for="product-imageURL" id="product-imageURL" class="product-imageURL">product-ImageURL</label>
            <input type="url" name="productImageURL" placeholder="Enter Product-ImageURL"  required/>
          </div>
          <div class="btn flex">
             <button>Add Product</button>
          </div>
      </form>
    </div>
  </div>
</div>
