<!-- Table Container -->
<section id="table" class="item-table">
  <div class="outer-items-container flex">
    <div class="items-container">
      <ul class="items-heading">
        <li class="id">ID</li>
        <li class="name">Name</li>
        <li class="description">Description</li>
        <li class="price">Price</li>
        <li class="image">Image</li>
      </ul>
      <% product.map((items) => { %>
      <ul class="items">
        <li class="id"><%= items.id %></li>
        <li class="name"><%= items.name %></li>
        <li class="description"><%= items.description %></li>
        <li class="price"><%= items.price %></li>
        <li class="image">
          <img
            src="https://bookpalace13.com/wp-content/uploads/2022/06/51-nXsSRfZL._SX328_BO1204203200_-1.jpg"
          />
        </li>
      </ul>
      <% }) %>
    </div>
  </div>
</section>
